*{
      margin: 0;
      padding: 0;
      /* background-color: rgb(89, 89, 89); */
}

.wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      
}
.box{
     display: flex;
     align-items: center;
     justify-content: center;
      width: 25rem;
      height: 25rem;
      background-color: black;
      margin: 10px;
      
}

.btn{
      padding: 1rem;
}